# Python virtual environments
.venv/
.venv312/
venv/
env/

# PyInstaller
dist/
build/
*.spec

# GateDB Local Databases
# We ignore these so we don't accidentally push user passwords or queries to public GitHub
*.db
practiceflask/*.db

# Cache
__pycache__/
*.py[cod]
*$py.class
